# Disable PHP or script execution inside uploads directory
<FilesMatch "\.(php|php5|php7|php8|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
Options -ExecCGI -Indexes
